<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:lightgrey;">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:silver;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="background-color:cornflowerblue">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"> V </span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Project Board App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Notifications", "Index", "Notifications", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                    <li>@Html.ActionLink("Tasks", "Index", "ATask")</li>
                    <li>@Html.ActionLink("Manager", "ShowAllUsers", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <br /><br />
            <p style=" text-align:right; font-weight:bolder;">&copy; @DateTime.Now.Year - Project Board </p>
            <p style=" text-align:right; font-weight:bolder; font-family:'Bradley Hand ITC';"> a, sariah lee | ashley kee | jennifer unger, collaboration   </p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>