@model IEnumerable<ProjectBoard.Models.ATask>

@{
    ViewBag.Title = "Index";
}

<h2> View All Tasks </h2>
<hr />
<br />
<button>
    @Html.ActionLink("New Task", "Create")
</button>
<br />
<br />
@foreach (var item in Model)
{
    <h3>Project: @item.Project.Name</h3>
    <h3>Task Title: @item.Name</h3>
    <p>Start: @item.StartDate.ToShortDateString()  /  End: @item.Deadline.ToShortDateString()</p>
    <div>
        Developer(s) on this Task:
        @foreach (var userName in item.ApplicationUsers)
        {
            <h3>@userName</h3>
        }
    </div>
    <br />
    <h4>
        Task Completed? -- 
        @if (item.IsCompleted || item.CompletionPerc == 100)
        {
            <span>Yes. Please find Developer's Note below if available.</span>
        }
        else
        {
            <span>Not yet</span>
        }
    </h4>
    <h4>
        Process: 
        @if (item.IsCompleted)
        {
            <span>[ 100 ] %</span>
        }
        else
        {
            <span>[ @item.CompletionPerc ] %</span>
        }
    </h4>
    <h4>Priority: <span style="font-weight:bold;">@item.Priority</span></h4>
    <h4>
        Description: <span style="color:blue;">@item.Body</span>
    </h4>
    if (item.IsCompleted @*&&
        User.IsInRole("Developer") &&
        item.ApplicationUsers.Select(u => u.UserName).Contains(User.Identity.Name)*@)
    {
        <button>
            Add Note@*@Html.ActionLink("Add Note", "DeveloperNote", new { id = item.Id })*@
        </button>
        <br />
        <h4>Developer's Notes:</h4>
        @*foreach (var comment in item.comments)
        {
            <span style="color:grey; font-style:italic;">comment.Body</span>
            <span>comment.ApplicationUser.Name</span>
        }*@
        <br />
    }
    <br />
    <button>
        @Html.ActionLink("Edit Task", "Edit", new { id = item.Id })
    </button>
    <button>
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </button>
    <hr />

}
<br />

@*@if (User.IsInRole("ProjectManager"))
    {
        show delete
    }*@
