@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
}

<h2>Roles</h2>
<li>
    @Html.ActionLink("CreateARole", "CreateRole", new { CustomerId = ViewBag.CustomerId })
</li>
<li>
    @Html.ActionLink("UserList", "UsersList", new { CustomerId = ViewBag.CustomerId })
</li>




<hr />
<div>
    @foreach (var role in Model)
    {

        <p>
            <strong>Role:  </strong>

            <strong>@role.Name  </strong>


            <button>
                @Html.ActionLink("remove  role", "DeleteRoles", "Home", new { roleId = role.Id }, new { style = "color:red" })
            </button>
            <button>
                @Html.ActionLink("add a user to this role", "UserToRole", "Home", new { roleId = role.Id }, new { style = "color:blue" })
            </button>
            <button>
                @Html.ActionLink("Detail", "ViewRoleUser", "Home", new { roleId = role.Id }, new { style = "color:blue" })
            </button>



        </p>
        if (role.Users != null)
        {
            <span>Users:  </span>

            foreach (var u in role.Users)
            {
                @*<p> @u.UserId</p>*@

                foreach (var user in @ViewBag.users)
                {
                    if (user.Id == @u.UserId)
                    {
                        <span>@user.UserName</span>
                    }
                }
            }
        }
    }
</div>